<!DOCTYPE html>
    <head>
        <link rel="icon" href="/image/download.png" />
        <link rel="stylesheet" href="/css/style.css" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
    </head>
    <body>
       <div class="main-content">
            {{>header}}
            <h1>{{title}}</h1>
        </div>
        {{>footer}}
    </body>
</html>